<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/dropdown.css">
    <link rel="stylesheet" href="/static/styles/navbar.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Project 1</title>
</head>

<body>
    <ul class="nav_bar">
        <div class="wrapper">
            <div class="left">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/discovery">My Discovery</a></li>
            </div>
            <div class="right">
                <li class="search-container">
                    <form action="/lookup" method="POST">
                        <select name="type">
                            <option value="">Choose</option>
                            <option value="track">Song</option>
                            <option value="artist">Artist</option>
                        </select>
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li><a href="/logout">Logout</a></li>
            </div>
        </div>
    </ul>
    <div class="web_head">
        <h1>My Discovery</h1>
    </div>
    <ul class="tree">
        {% if is_empty == true %}
        <div class="wrapper">
            <div class="center">
                <h1 style="color: #1DB954;">Nothing to display</h1>
            </div>
        </div>
        {% else %}
        {% for artist in lst %}
        <li class="section">
            <input type="checkbox" id="{{artist}}" />
            <label for="{{artist}}">{{artist}}</label>
            <ul>
                <li><img src="{{lst[artist]['artist_image']}}" alt="{{artist}} image" width="150" height="150"></li>
                <li>Artist ID: {{lst[artist]['artist_id']}}</li>
                {% for song in lst[artist]['songs'] %}
                <li class="section">
                    <input type="checkbox" id="{{song}}" />
                    <label for="{{song}}">{{song}}</label>
                    <ul>
                        <li><img src="{{lst[artist]['songs'][song]['image']}}" alt="Song Art" width="250" height="250">
                        </li>
                        <li>
                            <figure>
                                <div class="fig" , text>
                                    <figcaption>
                                        Listen to {{song}} preview
                                    </figcaption>
                                </div>
                                <audio controls>
                                    <source src="{{lst[artist]['songs'][song]['song_url']}}">
                                </audio>
                            </figure>
                        </li>
                        <li><a href="{{lst[artist]['songs'][song]['genius_link']}}" target="_blank">Lyrics</a></li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    <div class="center">
        <h3 style="color: white; float: center;">Add or remove an artist</h3>
    </div>
    <div class="center">
        <div class="search-container">
            <form action="/addArtist" method="POST">
                <select name="task">
                    <option value="">Choose</option>
                    <option value="insert">Add</option>
                    <option value="remove">Remove</option>
                </select>
                <input type="text" placeholder="Enter Artist ID" name="add">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul id="flashes" class="flashes">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul id="flashes" class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </ul>
    </div>
</body>

</html>